## Deliverable 3: Optimization of  the Model II

### Preprocessing the Data

In [45]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [46]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [47]:
# Drop the non-beneficial ID column 'EIN'
application_df = application_df.drop(columns=["EIN"], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [48]:
# Look at NAME value counts for binning
name_counts = application_df.NAME.value_counts()
#  How many name counts are greater than 5?
name_counts[name_counts>5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [22]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [49]:
#  How many name counts are less than or equal to 5?
name_counts[name_counts <= 5]

FLORIDA FAMILY CHILD CARE HOME ASSOCIATION INC                          5
GERONTOLOGICAL ADVANCED PRACTICE NURSES ASSOCIATION                     5
INTERNATIONL TRANSPLANT NURSES SOCIETY                                  5
NATIONAL ORGANIZATION FOR WOMEN INC                                     5
PTA HAWAII CONGRESS                                                     5
                                                                       ..
ST LOUIS SLAM WOMENS FOOTBALL                                           1
AIESEC ALUMNI IBEROAMERICA CORP                                         1
WEALLBLEEDRED ORG INC                                                   1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI    1
WATERHOUSE CHARITABLE TR                                                1
Name: NAME, Length: 19214, dtype: int64

In [23]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [50]:
# Determine which values to replace if counts are less than or equal to 5.
replace_application = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for app in replace_application:
    application_df.NAME = application_df.NAME.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.NAME.value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [51]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [24]:
# Determine which values to replace if counts are less than 500
replace_application = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [52]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [53]:
# Determine which values to replace if counts are less than 1000
replace_class = list(classification_counts[classification_counts < 1000].index)


# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [54]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [55]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/Users/olgapodolska/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [56]:
 # Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

/Users/olgapodolska/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [57]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL
X = application_df.drop("IS_SUCCESSFUL", axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [58]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Compile, Train and Evaluate the Model

In [59]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 100)               40700
_________________________________________________________________
dense_19 (Dense)             (None, 30)                3030
_________________________________________________________________
dense_20 (Dense)             (None, 10)                310
_________________________________________________________________
dense_21 (Dense)             (None, 1)                 11
=================================================================
Total params: 44,051
Trainable params: 44,051
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [41]:
import numpy as np
x=np.array(X_train_scaled)
y=np.array(y_train)

# Train the model
fit_model = nn.fit(x=np.array(X_train_scaled), y=np.array(y_train), epochs=100, 
                    validation_data=(np.array(X_test), np.array(y_test)), 
                    validation_freq=5)

Train on 25724 samples, validate on 8575 samples
Epoch 1/100
25724/25724 [==============================] - 6s 222us/sample - loss: 0.5860 - accuracy: 0.7114
Epoch 2/100
25724/25724 [==============================] - 4s 170us/sample - loss: 0.5601 - accuracy: 0.7288
Epoch 3/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.5553 - accuracy: 0.7291
Epoch 4/100
25724/25724 [==============================] - 4s 174us/sample - loss: 0.5536 - accuracy: 0.7303
Epoch 5/100
25724/25724 [==============================] - 6s 226us/sample - loss: 0.5518 - accuracy: 0.7303 - val_loss: 0.8197 - val_accuracy: 0.4676
Epoch 6/100
25724/25724 [==============================] - 4s 173us/sample - loss: 0.5507 - accuracy: 0.7314
Epoch 7/100
25724/25724 [==============================] - 5s 181us/sample - loss: 0.5498 - accuracy: 0.7319
Epoch 8/100
25724/25724 [==============================] - 5s 179us/sample - loss: 0.5487 - accuracy: 0.7306
Epoch 9/100
25724/25724 [==============================] - 5s 178us/sample - loss: 0.5478 - accuracy: 0.7322
Epoch 10/100
25724/25724 [==============================] - 5s 206us/sample - loss: 0.5472 - accuracy: 0.7331 - val_loss: 0.6914 - val_accuracy: 0.5324
Epoch 11/100
25724/25724 [==============================] - 5s 177us/sample - loss: 0.5462 - accuracy: 0.7339
Epoch 12/100
25724/25724 [==============================] - 5s 184us/sample - loss: 0.5459 - accuracy: 0.7327
Epoch 13/100
25724/25724 [==============================] - 5s 183us/sample - loss: 0.5452 - accuracy: 0.7341
Epoch 14/100
25724/25724 [==============================] - 5s 178us/sample - loss: 0.5448 - accuracy: 0.7346
Epoch 15/100
25724/25724 [==============================] - 6s 218us/sample - loss: 0.5446 - accuracy: 0.7360 - val_loss: 0.6931 - val_accuracy: 0.5324
Epoch 16/100
25724/25724 [==============================] - 5s 183us/sample - loss: 0.5442 - accuracy: 0.7353
Epoch 17/100
25724/25724 [==============================] - 5s 182us/sample - loss: 0.5433 - accuracy: 0.7354
Epoch 18/100
25724/25724 [==============================] - 5s 193us/sample - loss: 0.5434 - accuracy: 0.7341
Epoch 19/100
25724/25724 [==============================] - 5s 182us/sample - loss: 0.5431 - accuracy: 0.7355
Epoch 20/100
25724/25724 [==============================] - 6s 222us/sample - loss: 0.5429 - accuracy: 0.7340 - val_loss: 0.7737 - val_accuracy: 0.4676
Epoch 21/100
25724/25724 [==============================] - 5s 186us/sample - loss: 0.5426 - accuracy: 0.7343
Epoch 22/100
25724/25724 [==============================] - 5s 187us/sample - loss: 0.5422 - accuracy: 0.7350
Epoch 23/100
25724/25724 [==============================] - 5s 189us/sample - loss: 0.5418 - accuracy: 0.7357
Epoch 24/100
25724/25724 [==============================] - 5s 184us/sample - loss: 0.5417 - accuracy: 0.7348
Epoch 25/100
25724/25724 [==============================] - 6s 243us/sample - loss: 0.5414 - accuracy: 0.7354 - val_loss: 0.7241 - val_accuracy: 0.4676
Epoch 26/100
25724/25724 [==============================] - 5s 188us/sample - loss: 0.5415 - accuracy: 0.7359
Epoch 27/100
25724/25724 [==============================] - 5s 187us/sample - loss: 0.5407 - accuracy: 0.7355
Epoch 28/100
25724/25724 [==============================] - 6s 220us/sample - loss: 0.5404 - accuracy: 0.7369
Epoch 29/100
25724/25724 [==============================] - 6s 227us/sample - loss: 0.5400 - accuracy: 0.7363
Epoch 30/100
25724/25724 [==============================] - 7s 257us/sample - loss: 0.5400 - accuracy: 0.7362 - val_loss: 0.7241 - val_accuracy: 0.4676
Epoch 31/100
25724/25724 [==============================] - 5s 195us/sample - loss: 0.5398 - accuracy: 0.7373
Epoch 32/100
25724/25724 [==============================] - 5s 202us/sample - loss: 0.5396 - accuracy: 0.7369
Epoch 33/100
25724/25724 [==============================] - 6s 226us/sample - loss: 0.5397 - accuracy: 0.7362
Epoch 34/100
25724/25724 [==============================] - 6s 232us/sample - loss: 0.5392 - accuracy: 0.7367
Epoch 35/100
25724/25724 [==============================] - 7s 275us/sample - loss: 0.5387 - accuracy: 0.7368 - val_loss: 0.6976 - val_accuracy: 0.4676
Epoch 36/100
25724/25724 [==============================] - 5s 212us/sample - loss: 0.5383 - accuracy: 0.7381
Epoch 37/100
25724/25724 [==============================] - 6s 224us/sample - loss: 0.5384 - accuracy: 0.7372
Epoch 38/100
25724/25724 [==============================] - 8s 300us/sample - loss: 0.5383 - accuracy: 0.7374
Epoch 39/100
25724/25724 [==============================] - 10s 405us/sample - loss: 0.5381 - accuracy: 0.7369
Epoch 40/100
25724/25724 [==============================] - 8s 306us/sample - loss: 0.5375 - accuracy: 0.7382 - val_loss: 0.6920 - val_accuracy: 0.5324
Epoch 41/100
25724/25724 [==============================] - 7s 280us/sample - loss: 0.5376 - accuracy: 0.7386
Epoch 42/100
25724/25724 [==============================] - 6s 227us/sample - loss: 0.5375 - accuracy: 0.7383
Epoch 43/100
25724/25724 [==============================] - 6s 224us/sample - loss: 0.5372 - accuracy: 0.7387
Epoch 44/100
25724/25724 [==============================] - 6s 220us/sample - loss: 0.5371 - accuracy: 0.7382
Epoch 45/100
25724/25724 [==============================] - 7s 255us/sample - loss: 0.5372 - accuracy: 0.7383 - val_loss: 0.7087 - val_accuracy: 0.4676
Epoch 46/100
25724/25724 [==============================] - 6s 219us/sample - loss: 0.5369 - accuracy: 0.7385
Epoch 47/100
25724/25724 [==============================] - 6s 219us/sample - loss: 0.5368 - accuracy: 0.7384
Epoch 48/100
25724/25724 [==============================] - 6s 222us/sample - loss: 0.5365 - accuracy: 0.7385
Epoch 49/100
25724/25724 [==============================] - 8s 323us/sample - loss: 0.5365 - accuracy: 0.7386
Epoch 50/100
25724/25724 [==============================] - 8s 322us/sample - loss: 0.5363 - accuracy: 0.7387 - val_loss: 0.7134 - val_accuracy: 0.5324
Epoch 51/100
25724/25724 [==============================] - 6s 222us/sample - loss: 0.5362 - accuracy: 0.7388
Epoch 52/100
25724/25724 [==============================] - 8s 299us/sample - loss: 0.5362 - accuracy: 0.7388
Epoch 53/100
25724/25724 [==============================] - 8s 328us/sample - loss: 0.5360 - accuracy: 0.7392
Epoch 54/100
25724/25724 [==============================] - 9s 363us/sample - loss: 0.5359 - accuracy: 0.7384
Epoch 55/100
25724/25724 [==============================] - 18s 712us/sample - loss: 0.5357 - accuracy: 0.7392 - val_loss: 0.7050 - val_accuracy: 0.5324
Epoch 56/100
25724/25724 [==============================] - 9s 331us/sample - loss: 0.5355 - accuracy: 0.7390
Epoch 57/100
25724/25724 [==============================] - 10s 393us/sample - loss: 0.5354 - accuracy: 0.7390
Epoch 58/100
25724/25724 [==============================] - 13s 520us/sample - loss: 0.5355 - accuracy: 0.7385
Epoch 59/100
25724/25724 [==============================] - 7s 290us/sample - loss: 0.5353 - accuracy: 0.7399
Epoch 60/100
25724/25724 [==============================] - 12s 450us/sample - loss: 0.5352 - accuracy: 0.7393 - val_loss: 0.6922 - val_accuracy: 0.5324
Epoch 61/100
25724/25724 [==============================] - 8s 314us/sample - loss: 0.5351 - accuracy: 0.7399
Epoch 62/100
25724/25724 [==============================] - 8s 305us/sample - loss: 0.5351 - accuracy: 0.7398
Epoch 63/100
25724/25724 [==============================] - 9s 339us/sample - loss: 0.5349 - accuracy: 0.7387
Epoch 64/100
25724/25724 [==============================] - 10s 390us/sample - loss: 0.5346 - accuracy: 0.7396
Epoch 65/100
25724/25724 [==============================] - 14s 548us/sample - loss: 0.5349 - accuracy: 0.7393 - val_loss: 0.6960 - val_accuracy: 0.5324
Epoch 66/100
25724/25724 [==============================] - 21s 799us/sample - loss: 0.5347 - accuracy: 0.7395
Epoch 67/100
25724/25724 [==============================] - 11s 418us/sample - loss: 0.5345 - accuracy: 0.7398
Epoch 68/100
25724/25724 [==============================] - 16s 634us/sample - loss: 0.5343 - accuracy: 0.7391
Epoch 69/100
25724/25724 [==============================] - 10s 384us/sample - loss: 0.5345 - accuracy: 0.7389
Epoch 70/100

25724/25724 [==============================] - 13s 490us/sample - loss: 0.5342 - accuracy: 0.7398 - val_loss: 0.6913 - val_accuracy: 0.5324
Epoch 71/100
25724/25724 [==============================] - 10s 397us/sample - loss: 0.5343 - accuracy: 0.7402
Epoch 72/100
25724/25724 [==============================] - 8s 304us/sample - loss: 0.5342 - accuracy: 0.7395
Epoch 73/100
25724/25724 [==============================] - 7s 290us/sample - loss: 0.5341 - accuracy: 0.7393
Epoch 74/100
25724/25724 [==============================] - 10s 405us/sample - loss: 0.5338 - accuracy: 0.7402
Epoch 75/100
25724/25724 [==============================] - 11s 444us/sample - loss: 0.5337 - accuracy: 0.7399 - val_loss: 0.6944 - val_accuracy: 0.4676
Epoch 76/100
25724/25724 [==============================] - 20s 787us/sample - loss: 0.5341 - accuracy: 0.7394
Epoch 77/100
25724/25724 [==============================] - 17s 659us/sample - loss: 0.5336 - accuracy: 0.7401
Epoch 78/100
25724/25724 [==============================] - 12s 469us/sample - loss: 0.5335 - accuracy: 0.7397
Epoch 79/100
25724/25724 [==============================] - 18s 681us/sample - loss: 0.5338 - accuracy: 0.7393
Epoch 80/100
25724/25724 [==============================] - 11s 429us/sample - loss: 0.5337 - accuracy: 0.7405 - val_loss: 0.6926 - val_accuracy: 0.5324
Epoch 81/100
25724/25724 [==============================] - 16s 629us/sample - loss: 0.5334 - accuracy: 0.7394
Epoch 82/100
25724/25724 [==============================] - 8s 293us/sample - loss: 0.5333 - accuracy: 0.7402
Epoch 83/100
25724/25724 [==============================] - 7s 280us/sample - loss: 0.5332 - accuracy: 0.7398
Epoch 84/100
25724/25724 [==============================] - 11s 411us/sample - loss: 0.5335 - accuracy: 0.7400
Epoch 85/100
25724/25724 [==============================] - 10s 405us/sample - loss: 0.5334 - accuracy: 0.7399 - val_loss: 0.6937 - val_accuracy: 0.5324
Epoch 86/100
25724/25724 [==============================] - 12s 466us/sample - loss: 0.5334 - accuracy: 0.7396- loss: 0.5334 - accuracy: 0.
Epoch 87/100
25724/25724 [==============================] - 8s 303us/sample - loss: 0.5330 - accuracy: 0.7408
Epoch 88/100
25724/25724 [==============================] - 18s 682us/sample - loss: 0.5330 - accuracy: 0.7404
Epoch 89/100
25724/25724 [==============================] - 18s 707us/sample - loss: 0.5328 - accuracy: 0.7411
Epoch 90/100
25724/25724 [==============================] - 16s 614us/sample - loss: 0.5330 - accuracy: 0.7397 - val_loss: 0.7293 - val_accuracy: 0.5324
Epoch 91/100
25724/25724 [==============================] - 18s 688us/sample - loss: 0.5328 - accuracy: 0.7406- loss: 0.5328 - accuracy: 0.
Epoch 92/100
25724/25724 [==============================] - 18s 711us/sample - loss: 0.5327 - accuracy: 0.7397
Epoch 93/100
25724/25724 [==============================] - 15s 576us/sample - loss: 0.5327 - accuracy: 0.7411
Epoch 94/100
25724/25724 [==============================] - 7s 277us/sample - loss: 0.5327 - accuracy: 0.7400
Epoch 95/100
25724/25724 [==============================] - 9s 341us/sample - loss: 0.5329 - accuracy: 0.7391 - val_loss: 0.7300 - val_accuracy: 0.4676
Epoch 96/100
25724/25724 [==============================] - 8s 304us/sample - loss: 0.5327 - accuracy: 0.7397
Epoch 97/100
25724/25724 [==============================] - 7s 277us/sample - loss: 0.5329 - accuracy: 0.7402
Epoch 98/100
25724/25724 [==============================] - 10s 374us/sample - loss: 0.5328 - accuracy: 0.7400
Epoch 99/100
25724/25724 [==============================] - 8s 297us/sample - loss: 0.5328 - accuracy: 0.7397
Epoch 100/100
25724/25724 [==============================] - 9s 351us/sample - loss: 0.5330 - accuracy: 0.7403 - val_loss: 0.7355 - val_accuracy: 0.4676

In [42]:
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(np.array(X_test), np.array(y_test), verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 0.7392 - accuracy: 0.4676
Loss: 0.7354744712743397, Accuracy: 0.4676384925842285

## Deliverable 3: Optimization of  the Model III

In [43]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [44]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest model accuracy: 0.713

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity2.h5")